<?xml version="1.0" encoding="ISO-8859-1"?>
<attributes>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="0" eline="0" spos="0" epos="0"/>
<text info="[inner=android/hardware/Camera$Parameters, outer=android/hardware/Camera, name=Parameters,flags=1]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/Camera$CameraInfo, outer=android/hardware/Camera, name=CameraInfo,flags=9]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/Camera$Size, outer=android/hardware/Camera, name=Size,flags=1]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/CameraCharacteristics$Key, outer=android/hardware/camera2/CameraCharacteristics, name=Key,flags=25]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/CaptureRequest$Key, outer=android/hardware/camera2/CaptureRequest, name=Key,flags=25]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/CaptureResult$Key, outer=android/hardware/camera2/CaptureResult, name=Key,flags=25]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/impl/CameraMetadataNative$Key, outer=android/hardware/camera2/impl/CameraMetadataNative, name=Key,flags=9]" aType="InnerClassTag"/>
<text info="soot.tagkit.InnerClassAttribute@6f83069" aType="InnerClassAttribute"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="3" eline="3" spos="0" epos="0"/>
<text info="ConstantValue: LegacyMetadataMapper" aType="StringConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="5" eline="5" spos="0" epos="0"/>
<text info="ConstantValue: 1000000" aType="LongConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="6" eline="6" spos="0" epos="0"/>
<text info="ConstantValue: 1" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="7" eline="7" spos="0" epos="0"/>
<text info="ConstantValue: 5" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="8" eline="8" spos="0" epos="0"/>
<text info="ConstantValue: 34" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="9" eline="9" spos="0" epos="0"/>
<text info="ConstantValue: 33" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="10" eline="10" spos="0" epos="0"/>
<text info="ConstantValue: 0.0" aType="FloatConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="11" eline="11" spos="0" epos="0"/>
<text info="ConstantValue: 0" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="12" eline="12" spos="0" epos="0"/>
<text info="ConstantValue: 3" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="13" eline="13" spos="0" epos="0"/>
<text info="ConstantValue: 1" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="14" eline="14" spos="0" epos="0"/>
<text info="ConstantValue: 0" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="15" eline="15" spos="0" epos="0"/>
<text info="ConstantValue: 3" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="16" eline="16" spos="0" epos="0"/>
<text info="ConstantValue: 3" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="17" eline="17" spos="0" epos="0"/>
<text info="ConstantValue: 200" aType="LongConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="18" eline="18" spos="0" epos="0"/>
<text info="ConstantValue: 8388608" aType="LongConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="19" eline="19" spos="0" epos="0"/>
<text info="ConstantValue: 600" aType="LongConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="20" eline="20" spos="0" epos="0"/>
<text info="ConstantValue: -1" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="21" eline="21" spos="0" epos="0"/>
<text info="ConstantValue: 0.01" aType="FloatConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="22" eline="22" spos="0" epos="0"/>
<text info="ConstantValue: 0" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="23" eline="23" spos="0" epos="0"/>
<text info="ConstantValue: 0" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="24" eline="24" spos="0" epos="0"/>
<text info="ConstantValue: 0" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="25" eline="25" spos="0" epos="0"/>
<text info="ConstantValue: 0" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="26" eline="26" spos="0" epos="0"/>
<text info="ConstantValue: 0" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="27" eline="27" spos="0" epos="0"/>
<text info="ConstantValue: 0" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="1987" eline="1987" spos="0" epos="0"/>
<text info="Signature: (Ljava/util/ArrayList&lt;Landroid/hardware/camera2/params/StreamConfiguration;&gt;;ILjava/util/List&lt;Landroid/hardware/Camera$Size;&gt;;)V" aType="SignatureTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="2267" eline="2267" spos="0" epos="0"/>
<text info="Signature: (Landroid/util/Range&lt;Ljava/lang/Integer;&gt;;)[I" aType="SignatureTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="2748" eline="2748" spos="0" epos="0"/>
<text info="Signature: ([Landroid/hardware/camera2/CameraCharacteristics$Key&lt;*&gt;;)[I" aType="SignatureTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="2785" eline="2785" spos="0" epos="0"/>
<text info="Signature: ([Landroid/hardware/camera2/CaptureRequest$Key&lt;*&gt;;)[I" aType="SignatureTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="2822" eline="2822" spos="0" epos="0"/>
<text info="Signature: ([Landroid/hardware/camera2/CaptureResult$Key&lt;*&gt;;)[I" aType="SignatureTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="2859" eline="2859" spos="0" epos="0"/>
<text info="Signature: (ILjava/util/List&lt;Ljava/lang/String;&gt;;)Ljava/lang/String;" aType="SignatureTag"/>
</attribute>
</attributes>
