<?xml version="1.0" encoding="ISO-8859-1"?>
<attributes>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="0" eline="0" spos="0" epos="0"/>
<text info="[inner=android/hardware/Camera$Parameters, outer=android/hardware/Camera, name=Parameters,flags=1]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/legacy/ParameterUtils$ZoomData, outer=android/hardware/camera2/legacy/ParameterUtils, name=ZoomData,flags=9]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/Camera$Size, outer=android/hardware/Camera, name=Size,flags=1]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/legacy/ParameterUtils$WeightedRectangle, outer=android/hardware/camera2/legacy/ParameterUtils, name=WeightedRectangle,flags=9]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/Camera$Area, outer=android/hardware/Camera, name=Area,flags=9]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/CaptureResult$Key, outer=android/hardware/camera2/CaptureResult, name=Key,flags=25]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/CameraCharacteristics$Key, outer=android/hardware/camera2/CameraCharacteristics, name=Key,flags=25]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/CaptureRequest$Key, outer=android/hardware/camera2/CaptureRequest, name=Key,flags=25]" aType="InnerClassTag"/>
<text info="soot.tagkit.InnerClassAttribute@44cd53d7" aType="InnerClassAttribute"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="3" eline="3" spos="0" epos="0"/>
<text info="ConstantValue: LegacyResultMapper" aType="StringConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="702" eline="702" spos="0" epos="0"/>
<text info="Signature: (Landroid/graphics/Rect;Landroid/hardware/camera2/legacy/ParameterUtils$ZoomData;Ljava/util/List&lt;Landroid/hardware/Camera$Area;&gt;;Ljava/lang/String;)[Landroid/hardware/camera2/params/MeteringRectangle;" aType="SignatureTag"/>
</attribute>
</attributes>
