<?xml version="1.0" encoding="ISO-8859-1"?>
<attributes>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="0" eline="0" spos="0" epos="0"/>
<text info="[inner=android/hardware/Camera$Parameters, outer=android/hardware/Camera, name=Parameters,flags=1]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/legacy/ParameterUtils$ZoomData, outer=android/hardware/camera2/legacy/ParameterUtils, name=ZoomData,flags=9]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/Camera$Area, outer=android/hardware/Camera, name=Area,flags=9]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/Camera$Size, outer=android/hardware/Camera, name=Size,flags=1]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/legacy/ParameterUtils$MeteringData, outer=android/hardware/camera2/legacy/ParameterUtils, name=MeteringData,flags=9]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/CaptureRequest$Key, outer=android/hardware/camera2/CaptureRequest, name=Key,flags=25]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/CameraCharacteristics$Key, outer=android/hardware/camera2/CameraCharacteristics, name=Key,flags=25]" aType="InnerClassTag"/>
<text info="soot.tagkit.InnerClassAttribute@63560530" aType="InnerClassAttribute"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="3" eline="3" spos="0" epos="0"/>
<text info="ConstantValue: LegacyRequestMapper" aType="StringConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="5" eline="5" spos="0" epos="0"/>
<text info="ConstantValue: 85" aType="IntegerConstantValueTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="1002" eline="1002" spos="0" epos="0"/>
<text info="Signature: (Landroid/graphics/Rect;Landroid/hardware/camera2/legacy/ParameterUtils$ZoomData;[Landroid/hardware/camera2/params/MeteringRectangle;ILjava/lang/String;)Ljava/util/List&lt;Landroid/hardware/Camera$Area;&gt;;" aType="SignatureTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="1367" eline="1367" spos="0" epos="0"/>
<text info="Signature: (Landroid/util/Range&lt;Ljava/lang/Integer;&gt;;)[I" aType="SignatureTag"/>
</attribute>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="1459" eline="1459" spos="0" epos="0"/>
<text info="Signature: &lt;T:Ljava/lang/Object;&gt;(Landroid/hardware/camera2/CaptureRequest;Landroid/hardware/camera2/CaptureRequest$Key&lt;TT;&gt;;TT;ZTT;)TT;" aType="SignatureTag"/>
</attribute>
</attributes>
