<?xml version="1.0" encoding="ISO-8859-1"?>
<attributes>
<attribute>
<srcPos sline="0" eline="0" spos="0" epos="0"/>
<jmpPos sline="0" eline="0" spos="0" epos="0"/>
<text info="[inner=android/hardware/camera2/legacy/LegacyFaceDetectMapper$1, outer=null, name=null,flags=0]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/Camera$Face, outer=android/hardware/Camera, name=Face,flags=9]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/Camera$Parameters, outer=android/hardware/Camera, name=Parameters,flags=1]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/legacy/ParameterUtils$ZoomData, outer=android/hardware/camera2/legacy/ParameterUtils, name=ZoomData,flags=9]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/CameraCharacteristics$Key, outer=android/hardware/camera2/CameraCharacteristics, name=Key,flags=25]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/Camera$FaceDetectionListener, outer=android/hardware/Camera, name=FaceDetectionListener,flags=1545]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/CaptureRequest$Key, outer=android/hardware/camera2/CaptureRequest, name=Key,flags=25]" aType="InnerClassTag"/>
<text info="[inner=android/hardware/camera2/CaptureResult$Key, outer=android/hardware/camera2/CaptureResult, name=Key,flags=25]" aType="InnerClassTag"/>
<text info="soot.tagkit.InnerClassAttribute@591174d8" aType="InnerClassAttribute"/>
</attribute>
</attributes>
